@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: vazir;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Vazir-FD-WOL.ttf);
}
html,
body {
  scroll-behavior: smooth;
  font-family: vazir, sans-serif;
}
html {
  font-size: 1rem;
}
body {
  line-height: 1.7;
  box-sizing: border-box;
  direction: rtl;
  min-height: 100vh;
  background: #f9fbfc;
}
